<configuration>
   <system.runtime.remoting>
      <application>
         <client displayName = "CarClient"
                 url = "tcp://localhost:032469">
            <activated type = "CAOCarGeneralAsm.CarProvider, CAOCarGeneralAsm" />
         </client>
         <channels>
            <channel ref="tcp"/>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
