<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Which provider?  -->
		<add key="provider" value="System.Data.SqlClient" />
	</appSettings>
	<connectionStrings>
		<!-- Which connection string? -->
		<add name ="SqlProviderPubs" 
			connectionString = "Data Source=localhost;uid=sa;pwd=;Initial Catalog=Pubs"/>
		<add name ="OleDbProviderPubs" 
			connectionString =" Provider=SQLOLEDB.1;Data Source=localhost;uid=sa;pwd=;Initial Catalog=Pubs"/>
	</connectionStrings>
</configuration>

