<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" type="SimpleRemotingAsm.RemoteMessageObject, SimpleRemotingAsm"
					objectUri="RemoteMsgObj.soap" />
			</service>
			<channels>
				<channel ref="http" port="32469" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>

