<configuration>
   <system.runtime.remoting>
      <application>
         <client displayName = "SimpleRemoteObjetClient">
            <wellknown 
               type="SimpleRemotingAsm.RemoteMessageObject, SimpleRemotingAsm" 
               url="http://localhost:32469/RemoteMsgObj.soap"/>
         </client>
         <channels>
            <channel ref="http"/>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
