<configuration>
   <system.runtime.remoting>
      <application>
         <client displayName = "CarClient">
            <wellknown 
               type="CarGeneralAsm.CarProvider, CarGeneralAsm" 
               url="tcp://localhost:32469/carprovider.rem"/>
         </client>
         <channels>
            <channel ref="tcp"/>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
