<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <compilation debug="false"/>
        <authentication mode="Windows"/>
		<customErrors defaultRedirect = "genericError.htm" mode="On">
			<error statusCode="404" redirect="Error404.htm"/>
		</customErrors>
	</system.web>
</configuration>
