<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" type="CarGeneralAsm.CarProvider, CarGeneralAsm"
					objectUri="carprovider.rem" />
			</service>
			<channels>
				<channel ref="tcp" port="32469" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration> 

