<configuration>
	<system.runtime.remoting>
		<application>
			<lifetime leaseTime = "15M" renewOnCallTime = "5M"/>
			<service>
				<activated type = "CAOCarGeneralAsmLease.CarProvider, CAOCarGeneralAsmLease"/>				
			</service>
			<channels>
				<channel ref="tcp" port="032469" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration> 

